## SYNTAX TEST "Packages/BetterJinja/resources/syntax/Jinja.sublime-syntax"

## Issue #5
   {{ poetry_bin_path | default('/usr/local/bin/poetry') }}
##                      ^^^^^^^ support.function.filter.jinja

## Issue #6
   {% if test is false %}
##               ^^^^^ support.function.test.jinja
   {% if test eq false %}
##               ^^^^^ constant.language.boolean.jinja
   {% if 1 is in [1, 2] %}
##            ^^ support.function.test.jinja
   {% if 1 in [1, 2] %}
##         ^^ keyword.operator.word.jinja
