## SYNTAX TEST "Packages/BetterJinja/resources/syntax/Jinja.sublime-syntax"

   ##
## ^^ comment.line.jinja punctuation.definition.comment.jinja

   {#  #}
## ^^^^^^ comment.block.jinja
## ^^ punctuation.definition.comment.begin.jinja
##     ^^ punctuation.definition.comment.end.jinja