## SYNTAX TEST "Jinja.sublime-syntax"

    {{  }}
##  ^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##      ^^ punctuation.definition.placeholder.end.jinja

    {{ + - * / ** // % }}
##  ^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                     ^^ punctuation.definition.placeholder.end.jinja
##     ^ keyword.operator.arithmetic.jinja
##       ^ keyword.operator.arithmetic.jinja
##         ^ keyword.operator.arithmetic.jinja
##           ^ keyword.operator.arithmetic.jinja
##             ^^ keyword.operator.arithmetic.jinja
##                ^^ keyword.operator.arithmetic.jinja
##                   ^ keyword.operator.arithmetic.jinja

    {{ >= <= == != < > }}
##  ^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                     ^^ punctuation.definition.placeholder.end.jinja
##     ^^ keyword.operator.comparison.jinja
##        ^^ keyword.operator.comparison.jinja
##           ^^ keyword.operator.comparison.jinja
##              ^^ keyword.operator.comparison.jinja
##                 ^ keyword.operator.comparison.jinja
##                   ^ keyword.operator.comparison.jinja

    {{ = ~ }}
##  ^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##         ^^ punctuation.definition.placeholder.end.jinja
##     ^ keyword.operator.assignment.jinja
##       ^ keyword.operator.concatenation.jinja

    {{ true false True False none None }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                                     ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^ constant.language.boolean.jinja
##          ^^^^^ constant.language.boolean.jinja
##                ^^^^ constant.language.boolean.jinja
##                     ^^^^^ constant.language.boolean.jinja
##                           ^^^^ constant.language.null.jinja
##                                ^^^^ constant.language.null.jinja

    {{ 123 123_456 }}
##  ^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                 ^^ punctuation.definition.placeholder.end.jinja
##     ^^^ meta.number.integer.decimal.jinja constant.numeric.value.jinja
##         ^^^^^^^ meta.number.integer.decimal.jinja constant.numeric.value.jinja

    {{ 42.3 0.3 .5 42.1e2 123_456.789 123_456.789e1 }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                                                  ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^ meta.number.float.decimal.jinja
##     ^^ constant.numeric.value.jinja
##       ^ punctuation.separator.decimal.jinja
##        ^ constant.numeric.value.jinja
##          ^^^ meta.number.float.decimal.jinja
##          ^ constant.numeric.value.jinja
##           ^ punctuation.separator.decimal.jinja
##            ^ constant.numeric.value.jinja
##              ^^ meta.number.float.decimal.jinja
##              ^ punctuation.separator.decimal.jinja
##               ^ constant.numeric.value.jinja
##                 ^^^^^^ meta.number.float.decimal.jinja
##                 ^^ constant.numeric.value.jinja
##                   ^ punctuation.separator.decimal.jinja
##                    ^ constant.numeric.value.jinja
##                     ^^ constant.numeric.value.exponent.jinja
##                        ^^^^^^^^^^^ meta.number.float.decimal.jinja
##                        ^^^^^^^ constant.numeric.value.jinja
##                               ^ punctuation.separator.decimal.jinja
##                                ^^^ constant.numeric.value.jinja
##                                    ^^^^^^^^^^^^^ meta.number.float.decimal.jinja
##                                           ^ punctuation.separator.decimal.jinja
##                                            ^^^ constant.numeric.value.jinja
##                                               ^^ constant.numeric.value.exponent.jinja


    {{ "Hello, World" 'Hello, World' }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                                   ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^^^^^^^^^^^ meta.string.jinja string.quoted.double.jinja
##     ^ punctuation.definition.string.begin.jinja
##                  ^ punctuation.definition.string.end.jinja
##                    ^^^^^^^^^^^^^^ meta.string.jinja string.quoted.single.jinja
##                    ^ punctuation.definition.string.begin.jinja
##                                 ^ punctuation.definition.string.end.jinja

    {{ [1, 2, 3, 4, 12.34] }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                         ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^^^^^^^^^^^^^^^^ meta.sequence.list.jinja
##     ^ punctuation.section.sequence.begin.jinja
##                       ^ punctuation.section.sequence.end.jinja
##      ^ meta.number.integer.decimal.jinja constant.numeric.value.jinja
##                  ^^^^^ meta.number.float.decimal.jinja
##       ^ punctuation.separator.sequence.jinja

    {{ ["a", 'c'] }}
##  ^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                ^^ punctuation.definition.placeholder.end.jinja
##      ^^^ meta.string.jinja string.quoted.double.jinja
##           ^^^ meta.string.jinja  string.quoted.single.jinja
##         ^ punctuation.separator.sequence.jinja

    {{ (1, 0.5, 'a', "b") }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                        ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^^^^^^^^^^^^^^^ meta.sequence.tuple.jinja
##     ^ punctuation.section.sequence.begin.jinja
##                      ^ punctuation.section.sequence.end.jinja
##      ^ meta.number.integer.decimal.jinja constant.numeric.value.jinja
##         ^^^ meta.number.float.decimal.jinja
##              ^^^ meta.string.jinja string.quoted.single.jinja
##                   ^^^ meta.string.jinja  string.quoted.double.jinja
##       ^ punctuation.separator.sequence.jinja

    {{ (1 + 2) (1 not in [1, 2, 3]) }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                                  ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^^^^ meta.group.jinja
##     ^ punctuation.section.group.begin.jinja
##           ^ meta.group.jinja punctuation.section.group.end.jinja
##             ^^^^^^^^^^^^^^^^^^^^ meta.group.jinja
##             ^ punctuation.section.group.begin.jinja
##                                ^ punctuation.section.group.end.jinja

    {{ { "a": "b", 'c': 'd', "e": 123, "f": 123.456 } }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                                                    ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.mapping.jinja
##     ^ punctuation.section.mapping.begin.jinja
##                                                  ^ punctuation.section.mapping.end.jinja
##       ^^^ meta.string.jinja string.quoted.double.jinja
##                 ^^^ meta.string.jinja  string.quoted.single.jinja
##          ^ punctuation.separator.mapping.key-value.jinja
##               ^ punctuation.separator.mapping.pair.jinja
##                 ^^^ meta.string.jinja  string.quoted.single.jinja
##                                ^^^ meta.number.integer.decimal.jinja constant.numeric.value.jinja
##                                          ^^^^^^^ meta.number.float.decimal.jinja

    {{ not and or }}
##  ^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                ^^ punctuation.definition.placeholder.end.jinja
##     ^^^ keyword.operator.word.jinja
##         ^^^ keyword.operator.word.jinja
##             ^^ keyword.operator.word.jinja

    {{ "foo {bar} baz" }}
##  ^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                     ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^^ meta.string.jinja string.quoted.double.jinja
##               ^^^^^ meta.string.jinja string.quoted.double.jinja
##          ^^^^^ meta.string.jinja meta.interpolation.jinja
##          ^ punctuation.section.interpolation.begin.jinja
##              ^ punctuation.section.interpolation.end.jinja
##           ^^^ text.embedded.jinja variable.other.jinja

    {{ "foo {1 + 2.3} baz" }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                         ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^^ meta.string.jinja string.quoted.double.jinja
##                   ^^^^^ meta.string.jinja string.quoted.double.jinja
##          ^^^^^^^^^ meta.string.jinja meta.interpolation.jinja
##          ^ punctuation.section.interpolation.begin.jinja
##                  ^ punctuation.section.interpolation.end.jinja
##           ^^^^^^^ text.embedded.jinja
##           ^ meta.number.integer.decimal.jinja constant.numeric.value.jinja
##             ^ keyword.operator.arithmetic.jinja
##               ^^^ meta.number.float.decimal.jinja

    {{ foo.bar }}
##  ^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##             ^^ punctuation.definition.placeholder.end.jinja
##     ^^^ variable.other.jinja
##         ^^^ variable.other.jinja
##        ^ punctuation.accessor.dot.jinja

    {{ "Character \" \' {{ {% escape" 'Character \" \' {{ {% escape' }}
##  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.placeholder.jinja
##  ^^ punctuation.definition.placeholder.begin.jinja
##                                                                   ^^ punctuation.definition.placeholder.end.jinja
##     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.jinja string.quoted.double.jinja
##                                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.jinja string.quoted.single.jinja
##                ^^ constant.character.escape.jinja
##                   ^^ constant.character.escape.jinja
##                      ^^ constant.character.escape.jinja
##                         ^^ constant.character.escape.jinja
##                                               ^^ constant.character.escape.jinja
##                                                  ^^ constant.character.escape.jinja
##                                                     ^^ constant.character.escape.jinja
##                                                        ^^ constant.character.escape.jinja

   {{ foo is defined }}
##    ^^^ variable.other.jinja
##        ^^ keyword.operator.word.jinja
##           ^^^^^^^ support.function.test.jinja

   {{ foo is my_test }}
##    ^^^ variable.other.jinja
##        ^^ keyword.operator.word.jinja
##           ^^^^^^^ variable.function.test.jinja

   {{ foo is not defined }}
##    ^^^ variable.other.jinja
##        ^^ keyword.operator.word.jinja
##           ^^^ keyword.operator.word.jinja
##               ^^^^^^^ support.function.test.jinja

   {{ foo is not my_test }}
##    ^^^ variable.other.jinja
##        ^^ keyword.operator.word.jinja
##           ^^^ keyword.operator.word.jinja
##               ^^^^^^^ variable.function.test.jinja

   {{ foo | list }}
##    ^^^ variable.other.jinja
##        ^ keyword.operator.logical.pipe.jinja
##          ^^^^ support.function.filter.jinja

   {{ foo | my_list }}
##    ^^^ variable.other.jinja
##        ^ keyword.operator.logical.pipe.jinja
##          ^^^^^^^ variable.function.filter.jinja

   {{ foo | default([]) | list }}
##    ^^^ variable.other.jinja
##        ^ keyword.operator.logical.pipe.jinja
##          ^^^^^^^ support.function.filter.jinja
##                      ^ keyword.operator.logical.pipe.jinja
##                        ^^^^ support.function.filter.jinja

   {{ foo | int is in range(10) }}
##    ^^^ variable.other.jinja
##        ^ keyword.operator.logical.pipe.jinja
##          ^^^ support.function.filter.jinja
##              ^^ keyword.operator.word.jinja
##                 ^^ support.function.test.jinja
##                    ^^^^^ support.function.global.jinja

   {{ loop.index }}
##    ^^^^ support.constant.jinja

   {{ my_loop.index }}
##    ^^^^^^^ variable.other.jinja

   {{ subl_cfg.config | dict2items }}
##                      ^^^^^^^^^^ variable.function.filter.jinja
