## SYNTAX TEST "Packages/BetterJinja/resources/syntax/Jinja.sublime-syntax"

   {%  %}
## ^^^^^^ meta.statement.jinja
## ^^ text.html.basic meta.statement.jinja punctuation.definition.statement.begin.jinja
##     ^^ meta.statement.jinja punctuation.definition.statement.end.jinja

   {%+  +%}
## ^^^^^^^^ meta.statement.jinja
## ^^^ meta.statement.jinja punctuation.definition.statement.begin.jinja
##      ^^^ meta.statement.jinja punctuation.definition.statement.end.jinja

   {%-  -%}
## ^^^^^^^^ meta.statement.jinja
## ^^^ meta.statement.jinja punctuation.definition.statement.begin.jinja
##      ^^^ meta.statement.jinja punctuation.definition.statement.end.jinja

   {% if elif else endif is scoped %}
##    ^^ keyword.control.conditional.if.jinja
##       ^^^^ keyword.control.conditional.elseif.jinja
##            ^^^^ keyword.control.conditional.else.jinja
##                 ^^^^^ keyword.other.endtag.jinja
##                       ^^ keyword.operator.word.jinja
##                          ^^^^^^ keyword.other.tag.jinja

   {% for item in items endfor %}
##    ^^^ keyword.control.loop.for.jinja
##             ^^ keyword.operator.word.jinja
##                      ^^^^^^ keyword.other.endtag.jinja
##        ^^^^ variable.other.jinja

   {% macro endmacro %}
##    ^^^^^ keyword.other.tag.jinja
##          ^^^^^^^^ keyword.other.endtag.jinja

   {% raw endraw %}
##    ^^^ keyword.other.tag.jinja
##        ^^^^^^ keyword.other.endtag.jinja

   {% block endblock %}
##    ^^^^^ keyword.other.tag.jinja
##          ^^^^^^^^ keyword.other.endtag.jinja

   {% autoescape endautoescape %}
##    ^^^^^^^^^^ keyword.other.tag.jinja
##               ^^^^^^^^^^^^^ keyword.other.endtag.jinja

   {% call endcall %}
##    ^^^^ keyword.other.tag.jinja
##         ^^^^^^^ keyword.other.endtag.jinja

   {% filter endfilter %}
##    ^^^^^^ keyword.other.tag.jinja
##           ^^^^^^^^^ keyword.other.endtag.jinja

   {% set endset %}
##    ^^^ keyword.other.tag.jinja
##        ^^^^^^ keyword.other.endtag.jinja

   {% trans endtrans %}
##    ^^^^^ keyword.other.tag.jinja
##          ^^^^^^^^ keyword.other.endtag.jinja

   {% set endset %}
##    ^^^ keyword.other.tag.jinja
##        ^^^^^^ keyword.other.endtag.jinja

   {% extends "index.html" %}
##    ^^^^^^^ keyword.other.tag.jinja
##            ^^^^^^^^^^^^ string.quoted.double.jinja
##            ^ string.quoted.double.jinja punctuation.definition.string.begin.jinja
##                       ^ string.quoted.double.jinja punctuation.definition.string.end.jinja

   {% include "sidebar.html" ignore missing with context %}
##    ^^^^^^^ keyword.other.tag.jinja
##                           ^^^^^^ keyword.other.jinja
##                                  ^^^^^^^ keyword.other.jinja
##                                          ^^^^ keyword.other.jinja
##                                               ^^^^^^^  keyword.other.jinja

   {% include "sidebar.html" ignore missing without context %}
##                                          ^^^^^^^ keyword.other.jinja

   {% include ['special_sidebar.html', 'sidebar.html'] ignore missing %}
##            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.sequence.list.jinja
##            ^ meta.sequence.list.jinja punctuation.section.sequence.begin.jinja
##                                                   ^ meta.sequence.list.jinja punctuation.section.sequence.end.jinja
##             ^^^^^^^^^^^^^^^^^^^^^^ meta.sequence.list.jinja string.quoted.single.jinja
##             ^ meta.sequence.list.jinja string.quoted.single.jinja punctuation.definition.string.begin.jinja
##                                  ^ meta.sequence.list.jinja string.quoted.single.jinja punctuation.definition.string.end.jinja


   {% - -%}
##   ^^ invalid.illegal.jinja

   {%- - %}
##     ^ invalid.illegal.jinja

    {% | %}
##     ^ keyword.operator.logical.pipe.jinja

    {% function(arg1 = value1, arg2 = value2) %}
##     ^^^^^^^^ variable.function.jinja
##             ^ punctuation.section.arguments.begin.jinja
##              ^^^^ variable.parameter.jinja
##                   ^ keyword.operator.assignment.jinja
##                           ^ punctuation.separator.parameters.twig
##                                          ^ punctuation.section.arguments.end.jinja